PORT=8000
MONGO_URI=mongodb://localhost/careerHubDB
CLIENT_DOMAIN=http://localhost:5173
NODE_ENV=development
COOKIE_SECRET=some64key
JWT_SECRET=some64key

ACCESS_TOKEN_EXPIRES_IN_SECONDS=900     # 15 minutes
REFRESH_TOKEN_EXPIRES_IN_SECONDS=604800 # 7 days
REFRESH_TOKEN_SECRET=some64key

CLOUDINARY_CLOUD_NAME=cloudinary-name
CLOUDINARY_API_KEY=cloudinary-key
CLOUDINARY_API_SECRET=cloudinary-secret

APP_EMAIL_ADDRESS=example@email.com
APP_EMAIL_PASSWORD=password

COOKIE_SECURE=true(production)false(otherwise)
